*{
  box-sizing: border-box;
}

body{
  background-color: rgb(167, 121, 121);
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.game-container{
  position: relative;
  width: 352px;
  height: 198px;
  margin: 0 auto;
  outline: solid rgb(150, 11, 11);

  transform: scale(2) translateY(50%);

}

.game-container canvas{
  image-rendering: pixelated;
}